body{
    background-color: lightgray;
}
#box{
    
}
#empty{
    font-size: 2rem;
    margin-left: 2%;
    border: 1px solid whitesmoke;
    width: 70%;
    height: 30%;
    background-color: white;
    margin-top: 2%;


   
}
#mouse{
    margin-left: 2%;
    border: 1px solid whitesmoke;
    width: 70%;
    height: 30%;
    margin-bottom: ;
    background-color: white;
}
#none{
    font-size: 0.8rem;
}
